<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="PageA, coleccion de peliculas del TP3 de PySW">>
    <title>Traductor</title>
</head>

<body>
    <br>
    <div class="container-fluid">
        <div class="row index">
            <div class="card col-md-5 offset-md-1">
                <img class="card-img" src="../../../assets/img/movie.jpg" alt="">
                <div class="card-content">
                    <a class="nav-link" [routerLink]="['../pagea']"><h3>Peliculas en cines</h3></a>
                </div>
            </div>
            <div class="d-block d-sm-block d-md-none">
                <br>
            </div>
            <div class="card col-md-5">
                <img class="card-img" src="../../../assets/img/money.jpg" alt="">
                <div class="card-content">
                    <a class="nav-link" [routerLink]="['../pageb']"><h3>Calculadora de divisas</h3></a>
                </div>
            </div>
            
            <div class="d-block d-sm-block d-md-block d-lg-block d-xl-block">
                <br>
            </div>

            <div class="card col-md-5 offset-md-1">
                <img class="card-img" src="../../../assets/img/translator.jpg" alt="">
                <div class="card-content">
                    <a class="nav-link" [routerLink]="['../pagec']"><h3>Traductor</h3></a>
                </div>
            </div>
            <div class="d-block d-sm-block d-md-none">
                <br>
            </div>
            <div class="card col-md-5">
                <img class="card-img" src="../../../assets/img/template.jpg" alt="">
                <div class="card-content">
                    <a class="nav-link" [routerLink]="['../page1']"><h3>Template page1</h3></a>
                </div>
            </div>
        </div>
    </div>
    <br>
</body>
</html>