<div>
    <h1>TP4-PySW-Marcos Rosales</h1>
    <nav class="navbar navbar-dark bg-dark">
        <ul class="nav nav-pills">
            <li class="nav-item"><a class="nav-link" [routerLink]="['home']">Home</a></li>
            <li class="nav-item"><a class="nav-link" [routerLink]="['page1']">Overlay</a></li>
            <li class="nav-item"><a class="nav-link" [routerLink]="['pagea']">Peliculas en cines</a></li>       
            <li class="nav-item"><a class="nav-link" [routerLink]="['pageb']">Calculadora de divisas</a></li>
            <li class="nav-item"><a class="nav-link" [routerLink]="['pagec']">Traductor</a></li>
        </ul>
    </nav>
</div>
