<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="PageA, coleccion de peliculas del TP3 de PySW">
    <title>Peliculas en Cines</title>
</head>

<body>
    <br>
    <div class=" container-fluid row">
        <div class="container-fluid col-md-8">
            <div class="row">
                <div class="card col-md-3 offset-md-1 col-sm-5 offset-sm-1 col-12" *ngFor="let item of peliculas">
                    <img [src]="item.img" alt="">
                    <h4>{{item.titulo}}</h4>
                    <h6>{{item.year}}</h6>
                    <p>{{item.descripcion}}</p>
                </div>
                <div class="d-block">
                    <br>
                </div>
            </div>
        </div>

        <aside class="d-none d-md-block d-lg-block d-xl-block col-md-4 row">
            <div class="offset-md-1 col-md-12 d-none d-md-block d-lg-block d-xl-block">
                <img class="img-fluid"src="../../../assets/img/ad.jpg" alt="">
            </div>
        </aside>
        
    </div>
</body>
</html>
